server:
  port: 8080

spring:
  datasource:
    url: spring.datasource.url=jdbc:mysql://localhost:8080/capstone
    username: root
    password: qwe123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        default_batch_fetch_size: 100
#    open-in-view: false

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace