.Wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    margin: 0 auto;
    background-color: white;
}

.Logo {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    color: black;
    font-size: 40px;
    font-weight: 150;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Logout {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: black;
}

.Login, .MyPage {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: black;
}