.comment-container {
    position: relative;
    border-top: 2px solid black;
    transform: translate(20%);
    top: 5px;
    width: 47.5%;
    line-height: 40px;
    font-weight: bold;
    font-size: smaller;
    padding-top: 10px;
}

.uploaded-comment {
    position: relative;
    transform: translate(20%);
    top: 5px;
    width: 47.5%;
    line-height: 40px;
    font-weight: bold;
    padding-top: 10px;
}

.comment-container li {
    position: relative;
    left: -2%;
    text-align: left;
    padding-left: 10px;
}

li {
    list-style: none;
}

.writing-comment{
    position: relative;
    display: flex;
}

.comment-textarea{
    position: relative;
    width: 60%;
    left: 5%;
    min-height: 65px;
}

#comment-btn {
    position: relative;
    height: 30px;
    left: 10%;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}

.comments {
    position: relative;
    border-top: 1px solid black;
}
.user-info {
    position: relative;
    display: flex;
    top: 10px;
}
.Profile {
    position: relative;
    border: 1px solid black;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 3px;
    text-align: center;
    font-size: 10px;
}

.single-comment {
    position: relative;
    width: 80%;
    min-height: 100px;
    margin-left: -20px;
}

.single-comment li {
    position: relative;
    border-bottom: 2px solid black;
    min-height: 100px;
}

.comment {
    position: relative;
    margin: 0px 0px 0px 50px;
    padding-top: 20px;
}

.comment-delbtn {
    position: absolute;
    top: 30px;
    height: 30px;
    right: 42px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}