.Header {
    position: fixed;
    top: 0;
}

.Options {
    position: relative;
    margin-top: 80px;
}

.Option-table1 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 100px;
}

.Option-table2 {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    top: -25px;
}

/* Theme */

#Theme {
    position: relative;
    justify-content: center;
    width: 450px;
    height: 260px;
}

#Theme caption {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Theme ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}
#Theme ul li {
    position: relative;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 120px;
    height: 80px;
    right: 18px;
    line-height: 80px;
    margin: 0;
}

#Theme ul:nth-child(2) 
li:nth-child(1) {
    border-bottom: none;
}
#Theme ul:nth-child(2) 
li:nth-child(2) {
    border-bottom: none;
}
#Theme ul:nth-child(2) 
li:nth-child(3) {
    border-bottom: none;
}
#Theme ul:nth-child(2) 
li:nth-child(1) {
    border-right: none;
}
#Theme ul:nth-child(2) 
li:nth-child(2) {
    border-right: none;
}
#Theme ul:nth-child(3) 
li:nth-child(1) {
    border-right: none;
}
#Theme ul:nth-child(3) 
li:nth-child(2) {
    border-right: none;
}

/* Taste */

#Taste {
    position: relative;
    justify-content: center;
    width: 450px;
    height: 260px;
}

#Taste caption {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Taste ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}
#Taste ul li {
    position: relative;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 120px;
    height: 80px;
    right: 18px;
    line-height: 80px;
    margin: 0;
}

#Taste ul:nth-child(2) 
li:nth-child(1) {
    border-right: none;
    border-bottom: none;
}
#Taste ul:nth-child(2) 
li:nth-child(2) {
    border-bottom: none;
}
#Taste ul:nth-child(3) 
li:nth-child(1) {
    border-right: none;
}

/* Ingre */

#Ingre {
    position: relative;
    justify-content: center;
    width: 450px;
    height: 320px;
}

#Ingre caption {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Ingre ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}
#Ingre ul li {
    position: relative;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 120px;
    height: 80px;
    right: 18px;
    line-height: 80px;
    margin: 0;
}

#Ingre ul:nth-child(2) 
li:nth-child(1) {
    border-right: none;
    border-bottom: none;
}
#Ingre ul:nth-child(2) 
li:nth-child(2) {
    border-right: none;
    border-bottom: none;
}
#Ingre ul:nth-child(2) 
li:nth-child(3) {
    border-bottom: none;
}
#Ingre ul:nth-child(3) 
li:nth-child(1) {
    border-right: none;
    border-bottom: none;
}
#Ingre ul:nth-child(3) 
li:nth-child(2) {
    border-right: none;
    border-bottom: none;
}
#Ingre ul:nth-child(3) 
li:nth-child(3) {
    border-bottom: none;
}
#Ingre ul:nth-child(4) 
li:nth-child(1) {
    border-right: none;
}
#Ingre ul:nth-child(4) 
li:nth-child(2) {
    border-right: none;
}

/* Situa */

#Situa {
    position: relative;
    justify-content: center;
    width: 450px;
    height: 320px;
}

#Situa caption {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    margin-top: 15px;
    margin-bottom: 15px;
}

#Situa ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
}
#Situa ul li {
    position: relative;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    width: 120px;
    height: 80px;
    right: 18px;
    line-height: 80px;
    margin: 0;
}

#Situa ul:nth-child(2) 
li:nth-child(1) {
    border-bottom: none;
}
#Situa ul:nth-child(2) 
li:nth-child(2) {
    border-bottom: none;
}
#Situa ul:nth-child(2) 
li:nth-child(3) {
    border-bottom: none;
}

#Situa ul:nth-child(2) 
li:nth-child(1) {
    border-right: none;
}
#Situa ul:nth-child(3) 
li:nth-child(1) {
    border-right: none;
}

#Situa ul:nth-child(4) 
li:nth-child(1) {
    border-top: none;
    border-right: none;
}
#Situa ul:nth-child(4) 
li:nth-child(2) {
    border-top: none;
}

#Find {
    position: absolute;
    border: 2px solid #ff6f61;
    left: 40%;
    width: 20%;
    height: 35px;
    line-height: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
    z-index: 100;
}

/* hover*/