.Header {
    position: fixed;
    top: 0;
    width: 100%;
}
.optionStyle {
    position: absolute;
    margin-top: 160px;
    left: 50%;
    transform: translateX(-50%);
}

#optionL1 {
    display:flex;
}

#optionL2 {
    display:flex;
}

.options1 {
    position: relative;
    text-align: center;
    width: 370px;
    height: 120px;
    margin: 30px;
    flex-wrap: wrap;
    display: flex;
}

.options2 {
    position: relative;
    text-align: center;
    width: 250px;
    height: 120px;
    margin: 30px;
    flex-wrap: wrap;
    display: flex;
}

.options3 {
    position: relative;
    text-align: center;
    width: 370px;
    height: 180px;
    margin: 30px;
    flex-wrap: wrap;
    display: flex;
}

.options4 {
    position: relative;
    text-align: center;
    width: 250px;
    height: 180px;
    margin: 30px;
    flex-wrap: wrap;
    display: flex;
}

.optionBox1 {
    position: relative;
    display: none;
}

.optionBox2 {
    position: relative;
    display: none;
}

.optionBox3 {
    position: relative;
    display: none;
}

.optionBox4 {
    position: relative;
    display: none;
}
#OptionLabel {
    border: 1px solid black;
    position: relative;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 120px;
    height: 60px;
    line-height: 60px;
}


#Find {
    position: absolute;
    border: 2px solid #ff6f61;
    left: 40%;
    width: 20%;
    height: 35px;
    bottom: 40px;
    line-height: 35px;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    z-index: 100;
}