.Header { 
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 100;
    border-bottom: 3px solid #ff6f61;
}

.Search {
     position: absolute;
     width: 100%;
     display: flex;
     top: 46px;
}

.Search-input {
    position: absolute;
    transform: translate(76%);
    height: 50px;
    width: 39%;
    border: 2px solid black;
    font-weight: bold;
    font-size: large;
}

.Search-icon {
    position: absolute;
    right: 30%;
    top: 2px;
    padding: 14px;
    color: black;
}

#Array {
    position: absolute;
    left: 72%;
    top: 125px;
    width: 95px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    line-height: 32px;
    padding: 3px 15px 0px 15px;
    
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 76%);
    background-position:
    calc(100% - 19.3px) calc(1em + 3px),
    calc(100% - 14.5px) calc(1em + 3px),
    calc(100% - 0.7em) 0.7em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
}

.Content-list {
    position: relative;
    display: flex;
    justify-content: center;
}

#List1 {
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 1000px;
}

#List2 {
    position: relative;
    margin-top: 5px;
    margin: 0 auto;
    width: 1000px;
}

.Content {
    position: relative;
    justify-content: center;
    width: 293px;
    height: 222px;
    padding: 3px;
    margin: 10px;
}

.Thump {
    position: relative;
    border: 1px solid black;
    width: 290px;
    height: 160px;
    line-height: 150px;
    text-align: center;
}

.Detail {
    position: relative;
    border: 1px solid black;
    top: 5px; 
    width: 290px;
    height: 53px;
}

.Profile {
    position: relative;
    border: 1px solid black;
    top: 3px;
    left: 3px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 10px;
}

.Title {
    position: relative;
    border: 1px solid black;
    top: -65px;
    left: 54px;
    width: 230px;
    text-align: center;
}

.Stars {
    position: relative;
    border: 1px solid black;
    top: -85px;
    left: 54px;
    width: 150px;
    height: 20px;
    text-align: center;
    color: rgba(255, 234, 0, 0.905);
}


.Hits {
    position: relative;
    border: 1px solid black;
    top: -128.5px;
    left: 210px;
    width: 74px;
    height: 20.5px;
    line-height: 20.5px;
    font-size: 12px;
    text-align: center;
}
