.Header { 
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 100;
    border-bottom: 3px solid #ff6f61;
    background-color: white;
}

.Search {
     position: fixed;
     width: 100%;
     display: flex;
     top: 83px;
     height: 150px;
     align-items: center;
     background-color: white;
     z-index: 100;
}

.Search-input {
    position: fixed;
    transform: translate(76%);
    height: 50px;
    width: 39%;
    border: 2px solid black;
    font-weight: bold;
    font-size: large;
}

.Search-icon {
    position: absolute;
    right: 30%;
    top: 50px;
    padding: 14px;
    color: black;
}

#Array {
    position: fixed;
    left: 72%;
    top: 135px;
    width: 95px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    line-height: 32px;
    padding: 3px 15px 0px 15px;
    z-index: 100;
    
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 76%);
    background-position:
    calc(100% - 19.3px) calc(1em + 3px),
    calc(100% - 14.5px) calc(1em + 3px),
    calc(100% - 0.7em) 0.7em;
    background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
    background-repeat: no-repeat;
}

#Container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    top: 225px;
    overflow: hidden;
}

.Content {
    position: relative;
    width: 360px;
    height: 270px;
    padding: 3px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*
.Thump {
    position: relative;
    width: 350px;
    height: 250px;
    min-height: 45%;
    line-height: 150px;
    text-align: center;
}

.Detail {
    position: relative;
    top: 5px; 
    width: 350px;
    height: 53px;
}

.Title-link:first-child {
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
*/

#Title {
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color:black;
    align-self: center;
    margin-top: 10px;
}

#ThumpImg {
    width: 350px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}
