#Conditions {
    position: relative;
    width: 90%;
    top: 110px;
    margin: 0 auto;
}

.Condition {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.Con {
    position: absolute;
    border: 1px solid black;
    font-weight: bold;
    align-items: center;
    width: 130px;
    height: 40px;
    left: 10%;
    line-height: 40px;
}

#StepsCon {
    position: relative;
    text-align: center;
    top: 82px;
    left: 10%;
    margin-left: 15px;
}

textarea {
    position: relative;
    align-items: center;
    margin-left: 50px;
    width: 60%;
    transform: translate(40%);
    resize: none;
    padding: 10px;
    font-size: 15px;
}

.Naming-textarea {
    height: 20px;
}

#Introducing {
    position: relative;
    top: 10px;
}

.Introducing-textarea {
    height: 40px;
    top: 10px;
}

#Cataloging {
    position: relative;
    top: 40px;
}

#Catal-options {
    position: relative;
    left: 24%;
    margin-left: 60px;
}

.Catal-option {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

input {
    position: relative;
    margin-left: 20px;
}

#Need {
    position: relative;
    top: 45px;
}

.Need-textarea {
    height: 40px;
    top: 10px;
}

#Steps {
    position: relative;
    height: 150px;
    top: 25px;
}

#stepWord {
    position: relative;
    left: 10%;
    width: 60px;
    margin-left: 35px;
    text-align: center;
}

#stepNum {
    position: relative;
    left: 20%;
    top: -112.5px;
    width: 10px;
}

#Step-textarea {
    position: absolute;
    align-items: center;
    width: 40%;
    height: 140px;
    left: 8%;
    resize: none;
    padding: 10px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

#Step-photo {
    position: absolute;
    border: 1px solid black;
    width: 16%;
    height: 159px;
    line-height: 159px;
    left: 67%;
    margin-left: 65px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
}

#Step-add {
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    top: -90px;
    width: 30px;
    height: 30px;
    left: 85%;
    text-align: center;
    margin-left: 80px;
    line-height: 25px;
    font-size: x-large;
}

#Submit {
    position: relative;
    border: 2px solid #ff6f61;
    bottom: 3px;
    left: 40%;
    width: 18%;
    height: 35px;
    line-height: 35px;
    color: black;
    font-weight: bold;
    text-align: center;
}
