.Header { 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    z-index: 100;
}

#main {
    margin-top: 150px;
}

#EditInfo{
    text-align: center;
}

#editInfoButton {
    border: 2px solid #ff6161;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}

#editInfoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-left: 25%;
    margin-right: 25%;
}

#editInfoH4 {
    width: 200px;
    justify-content: center;
}

#editInfoDiv2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 400px;

}

#editInfoDiv3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}