.Header { 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    z-index: 100;
}

#EditInfo{
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    margin-top: 150px;
}

#editPhoneButton {
    border: 2px solid #ff6161;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}

#editPasswdButton {
    border: 2px solid #ff6161;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}

#edited {
    border: 2px solid #ff6161;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
}

#editInfoH4 {
    justify-content: center;
}

#editInfoDiv2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#pwMessage{
    color:red;
    font-size: 0.9em;
}

#pwMessage2{
    color:red;
    font-size: 0.9em;
}

#editInfoTable {
    text-align: center;
    align-self: center;
    justify-content: center;
}