.Header { 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    z-index: 100;
}

#submit {
    background-color: #ff6161;
}

#signup {
    background-color: #ff6161;
}

#signup2 {
    text-decoration: none;
    color:white
}