.Header { 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    z-index: 100;
}

#mycommentMain {
    margin-top: 130px;
    text-align: center;
}

#MyComment {
    display: flex;
    justify-content: center;
}

#lineContainer {
    border: 2px solid #ff6161;
    border-radius: 5px;
    width: 600px;
}

#commentContainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#comment {
    width: 300px;
}

#commentDate {
    text-align: right;
    color: gray;
    font-size: 0.8em;
}

#commentButton{
    border: none;
    border-radius: 5px;
    background-color: #ff6161;
    color: white;
    margin-left: 5px;
}
