.Header { 
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 80px;
    z-index: 100;
}

#mypageContainer {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    border-radius : 5px;
            
}
#profileContainer2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#profileContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 250px;
    border : 2px solid #ff6161;
    border-radius : 5px;
    margin : 10px;
}

#imageContainer {
    margin: 20px;
    padding-left: 40px;
}

#idContainer {
    width: 300px;
    margin-left: 10px;
}

#profileImage{
    border-radius: 70%;
}

#profileName {
    font-size: 1.2em;

}

#profileId{
    font-size: 0.8em;
}

#wrapEdit {
}

#editProfile{
    width : 120px;
    height : 100px;
    background-color: white;
    border: 2px solid #ff6161;
    border-radius: 5px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    padding-right: 40px;
}

#buttonMypage {
    width : 120px;
    height : 100px;
    background-color:white;
    border : 2px solid #ff6161;
    border-radius : 5px;
    margin : 10px;
}